.navbar{
    padding:1rem;
    color:#aa2a19;
    box-shadow: rgba(95, 91, 91, 0.15) 0 1px 12px;
    display:flex;
    justify-content:space-between;
}

.nav-brand{
    font-size:2.25rem;
    font-weight:400;
    letter-spacing:0.125rem;
}

.nav-button{
    background:#fff;
    border:rgba(170, 42, 25, 0.25) 1px solid;
    border-radius:0.25rem;
    color:#aa2a19;
}

.nav-button:hover{
    background:#eedada;
}

ul#navList{
    display:flex;
}

ul#navList li a{
    margin:0 0.375rem;
    color:#aa2a19;
    text-decoration:none;
    font-size:1.5rem;
}

/* Responsive Design */

@media screen and (max-width:320px){
    .nav-brand{
        font-size:1.75rem;
    }
}

@media screen and (max-width:699px){
    ul#navList{
        display:none;
        flex-direction:column;
    }

    ul#navList li a{
        margin:0.375rem 0;
    }
}

@media screen and (min-width:700px){
    .nav-button{
        display:none;
    }

    ul#navList{
        display:flex;
    }
}